---
 const personalImageAlt = "Sebastian Alonso, desarrollador web junior"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo Jesús Sebastian Alonso Arias, aunque todos me dicen Sebastian. Empecé en el mundo del desarrollo a los 15 años con pequeños proyectos en
    Arduino, y desde entonces no he dejado de crear con código.
</p>
<p>
  Mi experiencia es diversa: he llegado a liderar equipos como <strong>Jefe de Producción</strong> en una agencia de marketing, gestionando proyectos y optimizando la entrega de contenido digital. A la par, he trabajado en proyectos de desarrollo backend como una <strong>tienda online</strong> y, más notablemente, en el catálogo digital para una gran ferretera. En este proyecto, trabajé con metodología <strong>Agile Scrum</strong> usando Jira en sprints de dos semanas. Colaboré a diario con el desarrollador frontend para construir la <strong>API con FastAPI</strong> y automaticé la categorización de más de 25.000 productos con Python y SQL.
</p>
<p>
  Mi formación es una combinación de práctica y estudio constante. Además de mi título como Técnico Superior, he obtenido la certificación <strong>Oracle Cloud Infrastructure Foundations Associate</strong>. Actualmente, estoy finalizando un curso de gestión de incidentes en ciberseguridad y cursando el Grado de Ingeniería Informática en la UOC (Universitat Oberta de Catalunya). Me apasiona seguir aprendiendo para construir soluciones robustas, eficientes y seguras.
</p>
  </div>

  <img width="200" height="200" src="/ME.JPG" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>