---
import ExperienceItem from "./ExperienceItem.astro"
import Link from "./icons/Link.astro"
const EXPERIENCE = [
  {
    date: "Febrero 2024 - Marzo 2025",
    title: "Desarrollador Backend Junior",
    company: "Insumos Generales S.A. - Paraguay",
    description:
      "Responsable de la migración y despliegue de microservicios y APIs REST con Python, mejorando los tiempos de respuesta en un 60%. Desarrollé sistemas de automatización para web scraping y categorización de productos con SQL, reduciendo la intervención manual hasta en un 90%."
  },
  {
    date: "Febrero 2023 - Febrero 2024",
    title: "Jefe de Producción",
    company: "Primate - Paraguay",
    description:
      "Lideré el ciclo completo de producción para campañas de marketing. Gestioné proyectos creativos, optimicé flujos de trabajo mejorando la eficiencia en un 35% y supervisé la creación de activos visuales, incluyendo edición de vídeo y diseño gráfico.",
  },
  {
    date: "Febrero 2024",
    title: "Técnico superior en Desarrollo Web Full Stack especializado en Python",
    company: "CEPIBASE Barcelona",
    description:
      "Formación intensiva en desarrollo web full stack, con enfoque en tecnologías modernas como Python, JavaScript, HTML, CSS y control de versiones con Git.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
